* {
    box-sizing: border-box;
}
body {

}

header {
    border: 1px solid #000000;
}
h1 {
    text-align: right;
    font-family: 'Monoton', cursive;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .2em;
}

/*.spinner:hover {
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}*/

h2 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-weight: 100;
    letter-spacing: .2em;
}
h2:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
p {
    border: 1px solid #000000;
    background-color: #ffffff;
    line-height: 200%;
    padding: 5%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
}

footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

footer section {
    flex: 50%;
    margin: 20% 0%;
}
@media screen and (max-width: 650px) {
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 525px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;

    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.topnav {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.topnav a {
    color: #ffffff;
    text-decoration: none;
}

.topnav a:hover {
    color: #777;
}

.topnav a:visted {
    color: #333;
}

a .active {
    color: yellow;
}

.topnav .icon {
    display:none;
}

/*Show the dropdown menu*/
.show {display:block;}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 0;
}

main {
}

section{
    padding: 10%;
}

#head {

}
#smile:hover {
    background-color: yellow;
    border-radius: 30em;
}

#hand p{
    height: 40%px; 
}

#eye p:hover {
    box-shadow: inset 0 0 0 5px #777;
}

#brain p:hover {
    box-shadow: inset 0 0 0 5px #777;
}

#mouth {
    padding: 5%;
}

#heart p:hover {
    box-shadow: inset 0 0 0 5px #777;
}

/*#foot p:hover{
    border-radius:50%;
}*/


form {
    text-align: right;
    line-height: 200%;
}



/*input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
 /* -moz-box-shadow: none;
}

input:required:valid {
  /* insert your own styles for valid form input */
/*}
